<footer class="main-footer">
    <div class="container">
        <div class="row footer-links">
            <div class="col-md-3">
                <h6>About redBus</h6>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Mobile Version</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Info</h6>
                <ul>
                    <li><a href="#">T&C</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Global Sites</h6>
                <ul>
                    <li><a href="#">India</a></li>
                    <li><a href="#">Singapore</a></li>
                    <li><a href="#">Malaysia</a></li>
                    <li><a href="#">Indonesia</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Our Partners</h6>
                <ul>
                    <li><a href="#">Goibibo</a></li>
                    <li><a href="#">Makemytrip</a></li>
                </ul>
                <div class="social-icons mt-4">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter-x"></i>
                    <i class="bi bi-instagram"></i>
                </div>
            </div>
        </div>
        <div class="copyright text-center">
            <p>&copy; 2026 redBus India Pvt Ltd. All rights reserved.</p>
        </div>
    </div>
</footer>